infra/local/.env
.env
.venv/
__pycache__/
.pytest_cache/
*.pyc
*.pyo
*.log

automation/runtime/*
!automation/runtime/.gitignore
/flutter/
app/mobile/ios/
app/mobile/linux/
app/mobile/macos/
app/mobile/windows/
