COMPOSE_PROJECT_NAME=signaldesk
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_SUPERUSER_PASSWORD=change-this-superuser-password
POSTGRES_DB=signaldesk
POSTGRES_APP_USER=signaldesk_app
POSTGRES_APP_PASSWORD=change-this-app-password
POSTGRES_MIGRATOR_USER=signaldesk_migrator
POSTGRES_MIGRATOR_PASSWORD=change-this-migrator-password
POSTGRES_READONLY_USER=signaldesk_readonly
POSTGRES_READONLY_PASSWORD=change-this-readonly-password
API_PORT=8000
JOBS_INTERVAL_SECONDS=1800
SIGNALDESK_ALERT_DELTA_THRESHOLD=2.0
