COMPOSE_PROJECT_NAME=signaldesk_collector
COLLECTOR_POSTGRES_PORT=55432
COLLECTOR_POSTGRES_DB=signaldesk_collector
COLLECTOR_POSTGRES_USER=collector
COLLECTOR_POSTGRES_PASSWORD=collector
SIGNALDESK_COLLECTOR_NODE_ID=collector-dev-node
SIGNALDESK_COLLECTOR_SHIPPER_MODE=simulate-offline
SIGNALDESK_COLLECTOR_SHIPPER_BATCH_SIZE=20
